<div class="category-rows">
    <img class="card-row-toggle-left hoverable" src="../../images/icons/arrow_left.png">
    <img class="card-row-toggle-right hoverable" src="../../images/icons/arrow_right.png">
    <div class="card-row-title">Popular</div>
    <div class="card-rows">
      <% projectData.forEach((project) => { %>
        <div class="card-cols">
            <div class="card-holder">
              <div class="card">
                <div class="card-front" style="background-image: url('../images/cards/<%= project.picture %>');">
                  <div class="card-category"><span>CATEGORY:</span> <%= project.category %></div>
                </div>
                <div class="card-back">
                  <div class="card-category"><span>CATEGORY:</span> <%= project.category %></div>
                  <div class="card-back-rows">
                    <div class="title-divs">The Need...</div>
                    <div class="card-purpose"><%= project.purpose %></div>  
                  </div>
                  <hr>
                  <div class="card-back-rows">
                    <div class="title-divs">So far we have...</div>
                    <ul class="card-progress-container">
                      <% progressData.forEach((update) => { %>
                        <% if (update.projects_id === project.id) { %>
                          <li class="card-progress-update"><%= update.note %></li>
                        <% } %>
                      <% }) %>
                    </ul>  
                  </div>
                  <hr>
                  <div class="card-back-rows">
                    <div class="title-divs">We could use...</div>
                    <ul class="card-needs-container">
                      <% needsData.forEach((need) => { %>
                        <% if (need.projects_id === project.id) { %>
                          <li class="card-need"><%= need.note %></li>
                        <% } %>
                      <% }) %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <% include description-box %>
        </div>
      <% }) %>
    </div>
  </div>