<div class="modal-content hidden">
    <div class="modal-gallery">
        <img src="../../images/cards/arrowleft.png" alt="" class="image-toggle image-toggle-left hoverable hidden">
        <img src="../../images/cards/arrowright.png" alt="" class="image-toggle image-toggle-right hoverable">
        <% let idLast = galleryData.length - 1; %>
        <% galleryData.forEach((image, i) => {
            if (image.projects_id === project.id) {
                switch(i) {
                    case 0: %>
                        <img class="gallery-image" src="../../images/cards/<%= image.picture %>" id="gallery-image-first" />
                    <% break;
                    case idLast: %>
                        <img class="gallery-image" src="../../images/cards/<%= image.picture %>" id="gallery-image-last" />
                    <% break;
                    default: %>
                        <img class="gallery-image" src="../../images/cards/<%= image.picture %>" />
                    <% break;
                }
            };
        }); %>
    </div>
    <div class="modal-details">
        <div class="modal-details-header">All the details...</div>
        <div class="modal-details-top">
            <%= project.details %>
        </div>
        <div class="modal-details-bottom">
            <div class="modal-details-cols">
                <div class="modal-col-headers">The Need...</div>
                <div class="modal-col-purpose"><%= project.purpose %></div>  
            </div>
            <div class="modal-details-cols">
                <div class="modal-col-headers">So far we have...</div>
                <ul class="modal-col-list">
                    <% progressData.forEach((update) => { %>
                        <% if (update.projects_id === project.id) { %>
                            <li class="modal-col-update"><%= update.note %></li>
                        <% } %>
                    <% }); %>
                </ul>  
            </div>
            <div class="modal-details-cols">
                <div class="modal-col-headers">We could use...</div>
                <ul class="modal-col-list">
                    <% needsData.forEach((need) => { %>
                        <% if (need.projects_id === project.id) { %>
                            <li class="modal-col-need"><%= need.note %></li>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>